<h1>Welcome to Battle, <%= @game.player_1.name %> & <%= @game.player_2.name %>!</h1>

<body>
<%= @game.player_1.name %> HB points = <%= @game.player_1.hp_points %>
<br>
<%= @game.player_2.name %> HB points = <%= @game.player_2.hp_points %>
<br>
<form action="/attack">
  <input type="submit" value="Attack">
</form>
<br>
  <%= @game.current_turn.name %>'s turn
</body> 
