<h1>Welcome to Battle, <%= @player_1 %> & <%= @player_2 %>!</h1>

<body>
<%= @player_1 %> HB points = <%= $player_1.hp_points %>
<br>
<%= @player_2 %> HB points = <%= $player_2.hp_points %>
<br>
<form action="/attack">
  <input type="submit" value="Attack">
</form>
  </body>
